
:root{
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}
html{
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-color: var(--Darkcyan);
    background-image:url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
    background-position: -100px -300px, 1000px 300px;
    background-repeat: no-repeat, no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cl-bg{
    color: var(--Dark-grayish-blue);
    font-weight: 400;
}
.cl-g{
    color: var(--Darkgray);
}
@media (max-width:400px) {
    html{
        font-size: 16px;
    }
    body{
        background-position: -800px -500px, 100px 300px;
    }

}
@media (max-width:1440px) {
    body{
        background-position: -200px -500px, 600px 500px;
    }

}
.card{
    border: none;
    width: 22rem;
    height: 22rem;
    border-radius: 1.5rem;
}
.img{
    height: 10rem;
}
.br-2{
    border-radius: 1.5rem 1.5rem 0 0 ;
}
.profile{
    width: 6rem;
    height: 6rem;
    border-radius: 50px;
    bottom: 3rem;
    left: calc(11rem - 3rem);
    border: 5px solid #fff;
}
h1{
    font-weight: 700;
    font-size: 1rem;
}
h3{
    font-size: 0.8rem;
    font-weight: 400;
}
h4{
    font-size: 0.6rem;
    font-weight: 400;
}
.position{
    position: relative;
}
.boxcontent{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem ;
}
.box{
    width: 75px;
}